social-media/automatizaciones/n8n-workflows/05-chat-agente-manychat-claude.json
{
  "name": "ENBA - Agente Humanizado (ManyChat + Claude)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enba-manychat-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-manychat",
      "name": "Webhook ManyChat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "enba-manychat-agent"
    },
    {
      "parameters": {
        "jsCode": "// Parsear datos que envia ManyChat via External Request\nconst body = $input.first().json.body || $input.first().json;\n\n// ManyChat envia estos campos (configurados en el External Request):\nconst mensaje = body.last_input_text || body.message || '';\nconst nombre = body.first_name || '';\nconst apellido = body.last_name || '';\nconst subscriberId = body.subscriber_id || body.id || '';\nconst canal = body.channel || 'instagram'; // instagram, facebook\n\n// Custom fields de ManyChat\nconst customFields = body.custom_fields || {};\nconst ultimoAgente = customFields.ultimo_agente || '';\nconst ultimaInteraccion = customFields.ultima_interaccion || '';\nconst historialResumen = customFields.historial_resumen || '';\nconst temaConsulta = customFields.tema_consulta || '';\nconst veleroInteres = customFields.velero_interes || '';\n\nreturn [{\n  json: {\n    mensaje,\n    nombre,\n    apellido,\n    subscriberId,\n    canal,\n    ultimoAgente,\n    ultimaInteraccion,\n    historialResumen,\n    temaConsulta,\n    veleroInteres\n  }\n}];"
      },
      "id": "parse-manychat",
      "name": "Parsear Datos ManyChat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const agentes = [\n  { nombre: 'Laura', genero: 'femenino', rol: 'operadora', auto: 'en femenino (operadora, encantada, atenta)' },\n  { nombre: 'Alberto', genero: 'masculino', rol: 'operador', auto: 'en masculino (operador, encantado, atento)' },\n  { nombre: 'Marina', genero: 'femenino', rol: 'operadora', auto: 'en femenino (operadora, encantada, atenta)' }\n];\n\nconst input = $input.first().json;\n\n// Si ya tuvo un agente, 60% chance de mantenerlo (continuidad)\nlet agente;\nif (input.ultimoAgente && Math.random() < 0.6) {\n  agente = agentes.find(a => a.nombre === input.ultimoAgente) || agentes[Math.floor(Math.random() * agentes.length)];\n} else {\n  agente = agentes[Math.floor(Math.random() * agentes.length)];\n}\n\nconst otros = agentes\n  .filter(a => a.nombre !== agente.nombre)\n  .map(a => `${a.nombre} (companer${a.genero === 'masculino' ? 'o' : 'a'})`)\n  .join(' y ');\n\n// Contexto de continuidad\nlet contextoHistorial = '';\nif (input.ultimoAgente && input.ultimoAgente === agente.nombre) {\n  contextoHistorial = `Ya hablaste con este cliente antes. Saluda como si lo conocieras.`;\n} else if (input.ultimoAgente) {\n  contextoHistorial = `Tu companero/a ${input.ultimoAgente} hablo con este cliente antes. Mencionalo naturalmente.`;\n}\nif (input.historialResumen) {\n  contextoHistorial += ` Resumen de lo anterior: ${input.historialResumen}`;\n}\nif (input.temaConsulta) {\n  contextoHistorial += ` Tema de interes: ${input.temaConsulta}.`;\n}\nif (input.veleroInteres) {\n  contextoHistorial += ` Velero que le interesa: ${input.veleroInteres}.`;\n}\n\nconst systemPrompt = `Sos ${agente.nombre}, ${agente.rol} en ENBA — Espacio Nautico Buenos Aires.\nTu genero es ${agente.genero}. Referite a vos ${agente.auto} siempre.\n\nENBA es un espacio nautico integral en Puerto Norte, Buenos Aires, frente al Aeroparque.\nOfrecemos: travesias en velero (nacionales e internacionales), escuela de navegacion (timonel y patron), compra-venta de embarcaciones, y servicio tecnico.\n\nESTILO DE COMUNICACION — ESTO ES LO MAS IMPORTANTE:\n- Hablas en espanol rioplatense natural. Voseo siempre: \"vos\", \"tenes\", \"queres\", \"contame\", \"dale\", \"genial\", \"joya\", \"barbaro\", \"de una\".\n- Mensajes MUY CORTOS. 1-3 oraciones maximo. Como un WhatsApp entre personas. NUNCA un parrafo largo.\n- NO sos un bot. Sos una persona real del equipo. Hablas como tal.\n- PROHIBIDO usar lenguaje de chatbot: \"Claro que si!\", \"Con mucho gusto!\", \"Estoy aqui para ayudarte!\", \"Excelente pregunta!\". Eso suena a robot.\n- PROHIBIDO listar servicios al saludar. Esperas a que pregunte.\n- Podes usar \"jaja\" o \"ja\" si es natural en el contexto.\n- Maximo 1-2 emojis por mensaje. A veces ninguno.\n- A veces responde con UNA sola frase. No todo tiene que ser un parrafo.\n- Si alguien dice \"hola\", respondele como una persona: \"Hola! Como andas?\" y nada mas.\n\nREGLAS DE NEGOCIO:\n- NUNCA des precios. Deci: \"Te paso la info por WhatsApp asi te doy todo bien detallado\" y manda a wa.me/5491149915143\n- NUNCA confirmes fechas o disponibilidad. Deci \"dejame chequear con el equipo y te confirmo\".\n- NUNCA digas \"Puerto Madero\". Es \"Puerto Norte, frente al Aeroparque\".\n- Si te preguntan si sos un bot: \"Soy un asistente virtual de ENBA, pero si preferis hablar con alguien del equipo te conecto por WhatsApp.\"\n- Para derivar a WhatsApp: wa.me/5491149915143\n\nDatos del negocio (SOLO si preguntan):\n- Destinos nacionales: Delta, Isla Martin Garcia, Mar del Plata\n- Destinos internacionales: Colonia, Carmelo, Riachuelo, Juan Lacaze\n- Salidas todos los dias, minimo 3 pasajeros\n- Cursos: Timonel y Patron de Yate\n- Veleros en venta: MASTI (Mastracchio 24.5), BRAMA (Bramador 24), Marejada (Hunter 33), Brisa (Grampian 26)\n- Web: espacionautico.com.ar\n\n${contextoHistorial ? 'CONTEXTO:\\n' + contextoHistorial : ''}\n\nEl cliente se llama ${input.nombre || 'no se sabe'}. Canal: ${input.canal}.\nTus companeros son: ${otros}.`;\n\nreturn [{\n  json: {\n    ...input,\n    agente: agente.nombre,\n    systemPrompt\n  }\n}];"
      },
      "id": "assign-agent",
      "name": "Asignar Agente + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 250,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.mensaje) }}\n    }\n  ]\n}"
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst respuesta = response.content?.[0]?.text || 'Perdon, tuve un problema tecnico. Escribinos por WhatsApp: wa.me/5491149915143';\n\nconst agentData = $('Asignar Agente + Prompt').first().json;\n\n// Detectar tema de la consulta para guardar en custom fields\nconst msg = agentData.mensaje.toLowerCase();\nlet tema = agentData.temaConsulta || '';\nlet velero = agentData.veleroInteres || '';\n\nif (msg.match(/traves|naveg|salida|colonia|delta|carmelo|destino/)) tema = 'travesia';\nelse if (msg.match(/curso|timonel|patron|escuela|aprender|clase/)) tema = 'curso';\nelse if (msg.match(/velero|barco|comprar|vender|masti|brama|marejada|brisa/)) tema = 'velero';\nelse if (msg.match(/servicio|tecnico|reparar|mantenimiento|motor/)) tema = 'servicio';\n\nif (msg.match(/masti/)) velero = 'masti';\nelse if (msg.match(/brama/)) velero = 'brama';\nelse if (msg.match(/marejada/)) velero = 'marejada';\nelse if (msg.match(/brisa/)) velero = 'brisa';\n\n// Generar resumen breve para historial\nconst resumen = `${agentData.nombre || 'Cliente'} pregunto: ${agentData.mensaje.substring(0, 80)}. ${agentData.agente} respondio.`;\n\n// ManyChat espera JSON con estos campos para usar en el flujo\nreturn [{\n  json: {\n    version: \"v2\",\n    content: {\n      messages: [\n        {\n          type: \"text\",\n          text: respuesta\n        }\n      ],\n      actions: [\n        {\n          action: \"set_field_value\",\n          field_name: \"ultimo_agente\",\n          value: agentData.agente\n        },\n        {\n          action: \"set_field_value\",\n          field_name: \"ultima_interaccion\",\n          value: new Date().toISOString()\n        },\n        {\n          action: \"set_field_value\",\n          field_name: \"historial_resumen\",\n          value: resumen\n        },\n        {\n          action: \"set_field_value\",\n          field_name: \"tema_consulta\",\n          value: tema\n        },\n        {\n          action: \"set_field_value\",\n          field_name: \"velero_interes\",\n          value: velero\n        }\n      ]\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatear para ManyChat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook ManyChat": { "main": [[{ "node": "Parsear Datos ManyChat", "type": "main", "index": 0 }]] },
    "Parsear Datos ManyChat": { "main": [[{ "node": "Asignar Agente + Prompt", "type": "main", "index": 0 }]] },
    "Asignar Agente + Prompt": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Formatear para ManyChat", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "ENBA" },
    { "name": "chat" },
    { "name": "agente" },
    { "name": "manychat" }
  ]
}
