social-media/automatizaciones/n8n-workflows/05-chat-agente-crisp-claude.json
{
  "name": "ENBA - Chat Agente Humanizado (Crisp + Claude)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enba-crisp-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-crisp",
      "name": "Webhook Crisp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "enba-crisp-chat"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del webhook de Crisp\nconst body = $input.first().json.body || $input.first().json;\n\n// Crisp envia: event, data.content, data.session_id, data.website_id\nconst event = body.event || '';\nconst data = body.data || {};\n\n// Solo procesar mensajes del usuario (no del operador)\nif (data.from === 'operator' || data.origin === 'chat' && data.from !== 'user') {\n  return []; // No procesar mensajes propios\n}\n\nconst sessionId = data.session_id || '';\nconst websiteId = data.website_id || '';\nconst mensaje = data.content || '';\nconst timestamp = data.timestamp || Date.now();\n\n// Extraer session data (pagina_origen, destino, velero, modelo)\nconst sessionData = data.data || {};\nconst paginaOrigen = sessionData.pagina_origen || 'desconocida';\nconst destino = sessionData.destino || '';\nconst velero = sessionData.velero || '';\nconst modelo = sessionData.modelo || '';\n\nreturn [{\n  json: {\n    sessionId,\n    websiteId,\n    mensaje,\n    paginaOrigen,\n    destino,\n    velero,\n    modelo,\n    timestamp\n  }\n}];"
      },
      "id": "parse-crisp",
      "name": "Parsear Mensaje Crisp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const agentes = [\n  { nombre: 'Laura', genero: 'femenino', rol: 'operadora', auto: 'en femenino (operadora, encantada, atenta)' },\n  { nombre: 'Alberto', genero: 'masculino', rol: 'operador', auto: 'en masculino (operador, encantado, atento)' },\n  { nombre: 'Marina', genero: 'femenino', rol: 'operadora', auto: 'en femenino (operadora, encantada, atenta)' }\n];\n\n// Asignar agente aleatorio\nconst agente = agentes[Math.floor(Math.random() * agentes.length)];\n\n// Otros agentes para el prompt\nconst otros = agentes\n  .filter(a => a.nombre !== agente.nombre)\n  .map(a => `${a.nombre} (companer${a.genero === 'masculino' ? 'o' : 'a'})`)\n  .join(' y ');\n\nconst input = $input.first().json;\n\n// Saludo contextual segun pagina\nlet contextoExtra = '';\nconst p = input.paginaOrigen;\nif (p.includes('/veleros/masti')) contextoExtra = 'El cliente esta mirando el velero MASTI (Mastracchio 24.5).';\nelse if (p.includes('/veleros/brama')) contextoExtra = 'El cliente esta mirando el velero BRAMA (Bramador 24).';\nelse if (p.includes('/stock') || p.includes('/veleros-en-venta')) contextoExtra = 'El cliente esta viendo el catalogo de veleros en venta.';\nelse if (p.includes('/destinos') || p.includes('/travesias')) contextoExtra = 'El cliente esta interesado en travesias.';\nelse if (p.includes('/escuela')) contextoExtra = 'El cliente esta interesado en la escuela de navegacion.';\nelse if (p.includes('/servicios')) contextoExtra = 'El cliente consulta por servicios tecnicos.';\nif (input.velero) contextoExtra += ` Velero de interes: ${input.velero}.`;\nif (input.destino) contextoExtra += ` Destino de interes: ${input.destino}.`;\n\nconst systemPrompt = `Sos ${agente.nombre}, ${agente.rol} en ENBA — Espacio Nautico Buenos Aires.\n\nTu genero es ${agente.genero}. Referite a vos ${agente.auto} siempre.\n\nENBA es un espacio nautico integral en Puerto Norte, Buenos Aires, frente al Aeroparque.\nOfrecemos: travesias en velero, escuela de navegacion (timonel y patron), compra-venta-alquiler de embarcaciones, y servicio tecnico a embarcaciones.\n\nREGLAS CRITICAS:\n- Hablas en espanol rioplatense (voseo: \"vos\", \"tenes\", \"queres\", \"contame\").\n- Sos calido/a, profesional, cercano/a. NO SOS UN BOT. Sos una persona real del equipo de ENBA.\n- Mensajes CORTOS. Maximo 2-3 oraciones por respuesta. Como un WhatsApp entre personas.\n- NUNCA listas los servicios de ENBA al saludar. Esperas a que el cliente pregunte.\n- NUNCA das precios. Decis: \"Te paso la info por WhatsApp\" y derivas a wa.me/5491149915143\n- NUNCA confirmas fechas o disponibilidad sin verificar. Decis \"dejame chequear con el equipo\".\n- NUNCA decis \"Puerto Madero\". Es \"Puerto Norte, frente al Aeroparque\".\n- Maximo 1-2 emojis por mensaje (no mas).\n- Si no podes resolver algo, derivas a WhatsApp: wa.me/5491149915143\n- Si te preguntan si sos un bot, decis: \"Soy un asistente virtual de ENBA, pero si preferis hablar con alguien del equipo te conecto enseguida por WhatsApp.\"\n- NUNCA uses lenguaje de chatbot como \"Claro que si!\", \"Con mucho gusto!\", \"Estoy aqui para ayudarte!\". Habla como una persona normal.\n- Usa contracciones y lenguaje casual: \"dale\", \"genial\", \"joya\", \"barbaro\", \"de una\".\n- A veces responde solo con una frase corta. No siempre tiene que ser un parrafo.\n- Podes usar \"jaja\" o \"ja\" cuando sea natural.\n\nCONTEXTO DE ESTA CONVERSACION:\n- Pagina de origen: ${input.paginaOrigen}\n${contextoExtra ? '- ' + contextoExtra : ''}\n\nTus companeros de equipo son: ${otros}.\nSi el cliente menciona que hablo con alguno/a, reconocelo/a como tu companero/a.`;\n\nreturn [{\n  json: {\n    ...input,\n    agente: agente.nombre,\n    systemPrompt\n  }\n}];"
      },
      "id": "assign-agent",
      "name": "Asignar Agente + System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.mensaje) }}\n    }\n  ]\n}"
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst respuesta = response.content?.[0]?.text || 'Perdon, tuve un problema. Escribinos por WhatsApp: wa.me/5491149915143';\n\n// Obtener datos del nodo anterior (Asignar Agente)\nconst agentData = $('Asignar Agente + System Prompt').first().json;\n\nreturn [{\n  json: {\n    respuesta,\n    sessionId: agentData.sessionId,\n    websiteId: agentData.websiteId,\n    agente: agentData.agente\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Extraer Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.crisp.chat/v1/website/{{ $json.websiteId }}/conversation/{{ $json.sessionId }}/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"text\",\n  \"from\": \"operator\",\n  \"origin\": \"chat\",\n  \"content\": {{ JSON.stringify($json.respuesta) }}\n}"
      },
      "id": "send-crisp",
      "name": "Enviar Respuesta a Crisp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "CONFIGURAR",
          "name": "Crisp API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\", \"agente\": {{ JSON.stringify($json.agente) }} }"
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Webhook Crisp": { "main": [[{ "node": "Parsear Mensaje Crisp", "type": "main", "index": 0 }]] },
    "Parsear Mensaje Crisp": { "main": [[{ "node": "Asignar Agente + System Prompt", "type": "main", "index": 0 }]] },
    "Asignar Agente + System Prompt": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Extraer Respuesta", "type": "main", "index": 0 }]] },
    "Extraer Respuesta": { "main": [[{ "node": "Enviar Respuesta a Crisp", "type": "main", "index": 0 }]] },
    "Enviar Respuesta a Crisp": { "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "ENBA" },
    { "name": "chat" },
    { "name": "agente" }
  ]
}
